*{
    color:white;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

.nav {
    background-color: #81a0ea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.nav img {
    height: 60px;
    width: auto;
}

.nav ul {
    display:flex;
    flex: 2;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav a { 
    text-decoration: none;
}

