<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
</head>
<body>
    <h1>TV Show {{show.id}}</h1>
    <label> Title: {{show.title}} </label>
    <label> Network: {{show.network}} </label>
    <label> Release Date: {{show.release_date}} </label>
    <label> Description: {{show.desc}} </label>
    <a href="/shows">Go Back</a>
</body>
</html>