<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{ user.first_name }}! </h1>

    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    {% endif %}
    </ul>
    {% if book.uploaded_by.id == user.id %}
    <form action="/books/{{book.id}}/update" method="POST">
    {% csrf_token %}
        <input type="text" name='title' value='{{book.title}}'>
        <p>Added by: {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p>
        <p>Added on: {{book.created_at}}</p>
        <p>Last updated on: {{book.updated_at}}</p>
        <p>Description:<input type="text" name='desc' value='{{book.desc}}'></p>
        <button type='submit'>Update</button>
        <button><a href="/books/{{book.id}}/delete">Delete</a></button>
        <a href="/books">Go Back</a>
    </form>
    {% else %}

    <p>{{book.title}}</p>
    <p>Added by: {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p>
    <p>Added on: {{book.created_at}}</p>
    <p>Last updated on: {{book.updated_at}}</p>
    <p>Description: {{book.desc}}</p>
    <a href="/books">Go Back</a>
    {% endif %}
    
    <h2>Users Who Favorited This Book</h2>
    <ul>
        {% for fav in book.users_who_favorited.all %}
        <li>{{fav.first_name}} {{fav.last_name}}</li>
        {% endfor %}
    </ul>
    {% if user in book.users_who_favorited.all %}
    <a href="/books/{{book.id}}/unfavorite" role="button" class="btn btn-danger">Un-Favorite</a>
    {% else %}
    <a href="/books/{{book.id}}/favorite" role="button" class="btn btn-warning">Add to Favorites</a>
    {% endif %}
</body>
</html>