<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id = "container"> 
        <div class = "all_users">
            <h1>All the Users</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td> {{user.id}} </td>
                    <td> {{user.first_name}} {{user.last_name}}</td>
                    <td> {{user.email_address}} </td>
                    <td> {{user.age}} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class = "all_users">  
            <h1>Add a User</h1>
            <form action="/user" method="POST">
                {% csrf_token %}
                <label>First Name: </label><input type="text" name='first_name'> <label>Last Name: </label><input type="text" name='last_name'> <br>            
                <label>Email: </label><input type="text" name='email_address'> <label>Age: </label><input type="text" name='age'> <br>
                <button type="submit">Add</button>
            </form>
        </div>  
    </div>
</body>
</html>