* {
    margin: 0;
    padding: 0;
}
#container {
    margin: 0 auto;
    width: 970px;
    border-style: solid;
}
#forms {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.location {
    height: 150px;
    width: 150px;
    display: inline-block;
    border: 1px solid black;
    margin: 0px 0px 10px 0px;
}
#activities {
    border: 1px solid black;
    margin: 5px;
}
.green {
    color: green;
}
.red {
    color: red;
}

p {
    margin: 10px 0px 10px 10px;
}